#myMusicBox{
    position: relative;
    display: inline-block;
}

input{
    position: absolute;
}

#musicTime{
    left: 10%;
    top: 50%;
    width: 80%
}

#volumeControl{
    left: 50%;
    transform: translateX(-50%);
    top: 80%;
    width: 40%
}

#musicTime {
    -webkit-appearance: none;
    width: 80%;
    height: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  
#musicTime::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
  }
  
  #musicTime::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: black;
    cursor: pointer;
  }


  #volumeControl {
    -webkit-appearance: none;

    height: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  
#volumeControl::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
  }
  
  #volumeControl::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: black;
    cursor: pointer;
  }


.myicons{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 63%;
}

.myicons i{
    margin-right: 20px;
    font-size: 1.5em;
    cursor: pointer;
}

.timerMusic{
    position: relative;
    top: -130px;
    left: 11%;
    width: 80%;
    font-size: 0.8em;
    display: flex;
    justify-content: space-between;
}